@import "../index.scss";

.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
   
    &__item{
      display: flex; 
      align-items: center;
      gap: 15px;
      font-size: 2rem;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
   
      &:hover{
        background-color: gray;
      } 
      &__icon{
        display: flex;
      }
      
      &__text{
        
        font-weight: inherit;
      }
    
    }
  
  }

  .active{
    font-weight: 800;
    background-color: gray;
  }