@import "./index.scss";




.todo {
      display: grid;
      grid-template-rows: $header-height calc(100vh - $header-height);
      grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);

      &__header{
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start:1;
        grid-column-end:-1;
        background-color: salmon;
        
      }
      &__sidebar{
        grid-row-start:2;
        grid-row-end: -1;   
        grid-column-start:1;
        grid-column-end:-1;
        background-color: sandybrown;
      }
      &__content{
        grid-row-start:2;
        grid-row-end: -1;
        grid-column-start:2;
        grid-column-end:-1;
        background-color: wheat;
      }

}


.sidebar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  height: calc(100vh - $header-height);

  &__catagory{
    
  }

}


.accordion {
  // ELEMENT
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 4px;
    font-weight: 900;

   
 
    &__active{
      transform: rotate(-90deg);
    }
 
  }
  &__icon {
    cursor: pointer;
  }
  &__text {
    font-weight: inherit;
  }
}



//   .todo__header{
//     grid-row-start:1;
//     grid-row-end: 2;
//     grid-column-start:1;
//     grid-column-end:-1;
//     background-color: salmon;
    
//   }
//   .todo__sidebar{
//     grid-row-start:2;
//     grid-row-end: -1;   
//     grid-column-start:1;
//     grid-column-end:-1;
//     background-color: sandybrown;
//   }
//   .todo__content{
//     grid-row-start:2;
//     grid-row-end: -1;
//     grid-column-start:2;
//     grid-column-end:-1;
//     background-color: wheat;
//   }


//Scss mixins and extends concept